<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Postcard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C773BC831BC6B9D500D202FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C773BC971BC6B9D600D202FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C773BCA21BC6B9D600D202FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
